@{
    ViewData["Title"] = "O dyrygencie";
}

<link rel="stylesheet" href="/css/style.css" />


<div class="container">
    <div class="text">
        <h1>
            <strong>Tomasz Chmiel</strong>
        </h1>
        <h4>
            Dyrygent, pianista, aranżer.
            Pochodzi z Rzeszowa, gdzie ukończył z wyróżnieniem klasę fortepianu w
            Państwowym Liceum Muzycznym. Absolwent Akademii Muzycznej w Krakowie w
            klasie dyrygentury prof. Jerzego Katlewicza oraz w klasie fortepianu prof. Marka
            Koziaka. Oba kierunki ukończył z wyróżnieniem. Związany z macierzystą uczelnią,
            pracuje na stanowisku adiunkta. W roku 2013 uzyskał tytuł naukowy doktora
            habilitowanego.
        </h4>
        <br />
        <h4>
            Dwukrotny stypendysta Ministerstwa Kultury i Sztuki, wyróżniony Stypendium
            Twórczym Miasta Krakowa. Laureat I nagrody w I Ogólnopolskim Przeglądzie
            Młodych Dyrygentów im. Witolda Lutosławskiego w Białymstoku. Wielokrotny
            uczestnik seminariów Helmutha Rillinga Akademii Bachowskiej w Stuttgarcie, a także
            kursów mistrzowskich w Salzburgu oraz Południowej Irlandii. Dyrygent gościnny
            Filharmonii Krakowskiej, Rzeszowskiej, Częstochowskiej, Dolnośląskiej,
            Szczecińskiej, NOSPR. Współpracuje z Operą Krakowską. Szef Krakowskiej Młodej
            Filharmonii, z którą zdobył I miejsce w I Ogólnopolskim Konkursie Orkiestr Szkół
            Muzycznych II Stopnia. Poza krajem koncertował w Szwecji, Francji, Niemczech,
            Holandii, Belgii oraz w Korei Płd.
        </h4>
        <br />
        <h4>
            Szczególną uwagę poświęca muzyce polskiej. Zinstrumentował na orkiestrę
            symfoniczną cykl pieśni Chopina, Karłowicza, a także polskie piosenki przedwojenne,
            pieśni patriotyczne, kolędy, pieśni maryjne. Większość tych opracowań została nagrana
            i wydana na płytach. Z wielką pasją aranżuje muzykę filmową.
        </h4>
    </div>

    <div class="image">
        <img src="/images/Conductor.JPG" alt="Tomasz Chmiel" />
    </div>
</div>



@* <style>
    body {
        background-image: url('/images/Conductor.JPG');
        background-size: 800px, 100px;
        background-repeat: no-repeat; 
    }
</style> *@


    
