@{
    ViewData["Title"] = "O nas";
}

<center>
    <h1 >Krakowska Młoda Filharmonia</h1>
    <h4>
        Orkiestra Symfoniczna Zespołu Państwowych Szkół Muzycznych im.
        Mieczysława Karłowicza w Krakowie wykonuje ponad kilkanaście koncertów w
        każdym sezonie artystycznym. Występuje nie tylko w Krakowie, ale także w
        wielu salach koncertowych Polski m.in. w Teatrze Wielkim, Teatrze Muzycznym
        Roma, Filharmonii Narodowej oraz w Studiu Polskiego Radia im. W.
        Lutosławskiego w Warszawie, w salach Filharmonii Szczecińskiej, Pomorskiej i
        Częstochowskiej. Orkiestra regularnie koncertuje poza granicami (Niemcy,
        Holandia, Francja, Austria, Ukraina, Chiny). Prowadzi ożywioną współpracę z
        instytucjami krakowskimi, m.in.: z Operą Krakowską, Filharmonią Krakowską,
        z Fundacją Polsko-Chińską Chopin oraz krakowskimi domami kultury.
    </h4>
    <br />
    <h4>
        Najbardziej znaczącymi wydarzeniami w działalności artystycznej
        orkiestry były - premierowe wykonanie Nieszporów Ludźmierskich Jana
        Kantego Pawluśkiewicza i Leszka Aleksandra Moczulskiego (1992), zdobycie I
        miejsca w Ogólnopolskim Konkursie Orkiestr Szkolnych Szkół Muzycznych II
        Stopnia, zorganizowanym przez Akademię Filmu i Telewizji w Warszawie przy
        współudziale Centrum Edukacji Artystycznej oraz Programu II Polskiego Radia
        (2013) oraz tournée do Chin (2018).
    </h4>
    <br />
    <h4>
        Orkiestra wielokrotnie brała udział w festiwalach, m.in. w festiwalu
        Cracovia Sacra, jest częstym gościem cyklu Nowa Huta, dlaczego nie,
        organizowanym przez Dom Kultury Nowa Huta, wielokrotnie występowała w
        ramach festiwalu Szalone Dni Muzyki w Warszawie oraz w Festiwalu im. Jana
        Kiepury w Krynicy.
    </h4>
    <br />
    <h4>
        Dorobek fonograficzny orkiestry to kilka płyt, m. in. Polskie Pieśni
        Patriotyczne, Kolędy, Pieśni Maryjne oraz wydane przez Polskie Radio piosenki
        przedwojenne na płycie pt. Nie zapomnisz mnie.
    </h4>
</center>


