@{
    ViewData["Title"] = "Kontakt";
}

<h3><a href="https://www.youtube.com/channel/UCjsxcEa3lYHrbrX8lLb6Dyw" >Youtube</a></h3>
<h3><a href="https://www.facebook.com/groups/1707847082935460/">Fanpage na Facebook</a></h3>
<h3>E-mail: osiedle5@wp.pl</h3>