@{
    ViewData["Title"] = "Strona startowa";
}

@* <div class="text-center" style="color: white;">
    <h1 class="display-4"><strong style="color: azure">Krakowska Młoda Filharmonia</strong></h1>
    <h3 style="color: azure"><strong>Oficjalna strona Krakowskiej Młodej Filharmonii pod dyrekcją Tomasza Chmiela.</strong></h3>
</div> *@

<style>
    body {
        background-image: url('/images/Orchestra5e.jpg');
        background-size: cover, 95%;
        background-repeat: no-repeat;
    }


</style>